<p id="notice"><%= notice %></p>

<h1><%= @product.nombre %></h1>
<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <%= image_tag @product.image_url unless @product.image_url.nil? %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
