<p id="notice"><%= notice %></p>
<ul>
  <li><%= link_to 'show partial', product_partial_path(@product) %></li>
  <li><%= link_to 'show', @product %></li>
</ul>

<div class="row">
  <div class="col-6">
    <h1><%= @product.nombre %></h1>
    <p>
      <strong>Descripcion:</strong>
      <%= @product.descripcion %>
    </p>
    <p>
      <%= image_tag @product.image_url unless @product.image_url.nil? %>
    </p>
  </div>
  <div class="col-6">
    <%= @multi_render.render_partial(:product_colors, method(:render)) %> <%# HACK: Esta linea debe hacer lo que se ve en show_partial. Si el arreglo esta vacio, debe poner un mensaje proporcionado por el usuario  %>
  </div>
</div>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


